/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrap {
  background-image: linear-gradient(to bottom, #238bc1, #4faad9, #8cbbd0, #b3c7cd,  #e9d180) !important;
  width: 100%;
  border: 2px solid darkorange;
  display: flex;
  height: 100vh;
}

.wrap .menu,
.wrap .content {
  border: 2px solid blue;
  width: 350px;
}

.wrap .content {
  width: 80%;
}

.menu-container {
  width: 325px;
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-expansion-panel-header {
  height: 70px !important;
}

.active {
  font-weight: bold;
  outline-color: #7f96ba !important;
}

:host /deep/ .mat-list-item-content {
  outline-color: coral !important;
  text-decoration-color: coral !important;
  flood-color: coral !important;
}

.login-form {
  height:100vh;
  background-image: url('~src/assets/images/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
